<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Comments -->
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>

</head>

<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }
</style>

<body>
    <!--
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">restaurant</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="menu.html">View Menu</a></li>
                    <li><a href="reservation.html">Make Reservation</a></li>
                    <li><a href="review.html">Leave Review</a></li>
                    <li><a href="about.html" class="active">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="employee.html">Employee Page</a></li>
                </ul>
            </div>
        </nav>
    -->

    <div>
        <br />
        <strong>Mission Statement</strong><br />
        <p>
            1. To achieve and maintain such distinction in food and wine, service, atmosphere and setting that the restaurant gains a first class reputation for gastronomy, gracious and informed hospitality, comfort and beauty which draws new and repeat customers year after year. <br />
            2. To achieve the above whilst upholding staff policies and practices which promote a fair and positive working environment. <br />
            3. To be aware of and act on our responsibilities as a good corporate citizen to: * provide a safe, clean and attractive place for guests to enjoy and for employees to work in; * ensure ecologically sound management practices at the restaurant and in our surrounding gardens and woods; * undertake meaningful involvement of Restaurant Les Fougères in selected charitable activities in our community and region.<br />
        </p>

        <br />
        <h2>History</h2>
        <p>
            <img src="../../Content/image/a1.jpg" align="right" width="20%" />
            The McDonald family moved from Manchester, New Hampshire to Hollywood in the late 1930s, where brothers Richard and Maurice McDonald began working as set movers and handymen at Motion-Picture studios.[1] In 1937, their father Patrick McDonald opened "The Airdrome", a food stand, on Huntington Drive (Route 66) near the Monrovia Airport in Monrovia, California[2] with hot dogs being one of the first item sold. Hamburgers were later added to the menu at a cost of ten cents with all-you-can-drink orange juice at five cents. In 1940, Maurice and Richard ("Mac" and "Dick") moved the entire building 40 miles (64 km) east, to West 19th and 1398 North E Streets in San Bernardino, California. The restaurant was renamed "McDonald's Bar-B-Que" and had twenty-five menu items, mostly barbecue.

            In October 1948, after the McDonald brothers realized that most of their profits came from selling hamburgers, they closed down their successful carhop drive-in to establish a streamlined system with a simple menu which consisted of only hamburgers, cheeseburgers, potato chips, coffee, soft drinks, and apple pie.[3] After the first year, potato chips and pie were swapped out for french fries and milkshakes. The carhops were eliminated, making the new restaurant a self-service operation. Richard and Maurice took great care in setting up their kitchen like an assembly line to ensure maximum efficiency. The restaurant's name was changed again, this time to simply "McDonald's," and reopened on December 12, 1948.
        </p>
    </div>


</body>



</html>