<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Comments -->
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>

</head>

<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }
</style>

<body>
<!--
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">restaurant</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.html">Home</a></li>
                <li><a href="menu.html">View Menu</a></li>
                <li><a href="reservation.html" class="active">Make Reservation</a></li>
                <li><a href="review.html">Leave Review</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="employee.html">Employee Page</a></li>
            </ul>
        </div>
    </nav>
-->

    <div class="container">
        <h2>Make Reservation</h2>
        <form>
            <input type="text" id="datetime" placeholder="Select a date and time" data-ha-datetimepicker="#datetime" /><br /><br />
            <div class="row">
                <div class="col-xs-3">
                    <label for="user">Name</label>
                    <input type="user" class="form-control" id="user" placeholder="Enter Name">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    <label for="size">Party Size</label><br>
                    <input type="user" class="form-control" id="size" placeholder="Enter Party Size">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    <label for="note">Note</label><br>
                    <input type="user" class="form-control" id="note" placeholder="Enter Notes">
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>


</body>



</html>