
@{
    ViewBag.Title = "ClockIn";
}<!-- CHANGE -->

<h2>ClockIn</h2>

<p>This'll just be two buttons side-by-side, one says clock-in and one says clock-out.</p> </br>
<p>DB call will be made passing the logged-in user ID and the clock-in (or clock-out) time to the DB</p></br>