@model  RestaurantManagementProject.Models.Kitchen.KitchenViewModel


@{
    ViewBag.Title = "Index";


}

<h1>Order List</h1>

<h2>Index</h2>

<table>
    <tr>
        @foreach (Order o in Model.Orders)
        {
            <td>@o.Id</td>
        }
    </tr>
</table>

