<!DOCTYPE html>
<html lang="en">
<head>
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>

</head>

<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

        a:hover {
            color: #00A0C6;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Employees</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="server.html" class="active">Server</a></li>
                <li><a href="kitchen.html">Kitchen</a></li>
                <li><a href="manager.html">Manager</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Server Page</h2>
        <div class="row">
            <div class="col-xs-4">
                <p>Occupied Tables:</p>
            </div>
            <div class="col-xs-4">
                <p>Open Tables:</p>
            </div><div class="col-xs-4">
                <p>Needed to be Cleaned:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h3>Change status of table</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <!--<label for="table">Table</label>-->
                <input type="table" class="form-control" id="table" placeholder="Enter Table Number">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button id="occupied" type="submit" class="btn btn-default">Occupied</button>
                <button id="open" class="btn btn-default">Open</button>
                <button id="clean" class="btn btn-default">Clean</button>
                <button id="details" class="btn btn-default"><a href="occupied.html" class="active">Details</a></button>
            </div>
        </div>
    </div>

</body>
</html>